body {
  font-family: 'Comfortaa', sans-serif;
}

.article {
  display: grid;
  place-items: center;

  margin-top: 100px;
  margin-left: 8vw;
  margin-right: 8vw;
}

.head {
  display: grid;
  place-items: center;
}

.title {
  font-family: 500;
  font-size: 60px;
}

.by {
  font-family: 300;
  font-size: 25px;
  color: rgb(138, 138, 138);
}

.author {
  font-family: 300;
  font-size: 30px;
  padding-top: 10px;
  color: rgb(255, 0, 0);
}

.author-img-box {
  display: grid;
  place-items: center;
  width: 200px;
  left: -80px;
  top: -100px;
  position: absolute;
  border-radius: 100px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.873);
}

.author-img {
  width: 100%;
}

.body {
  font-weight:500;
  font-size: 25px;
  line-height: 40px;
  text-align:justify;
  box-shadow: 0 0 20px rgb(36, 36, 36, 0.7);
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
}


.para-1 {
  margin-bottom: 0;
  padding-top: 50px;
  line-height: 40px;
}

.midtitle-1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 400;
  color: red;
}

.para-2 {
  margin-top: 0;
  line-height: 40px;
}

a {
  text-decoration: none;
  color: rgb(47, 0, 255);
}

.para-3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.para-4 {
  line-height: 40px;
}

.para-5 {
  padding-bottom: 30px;
  line-height: 40px;
}

.para-6 {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 40px;
}

.midtitle-2 {
  text-align: center;
  line-height: 50px;
  padding-bottom: 10px;
  font-size: 35px;  font-weight: 400;
  color: red;
}

.carl-seg {
  color: red;
}

.inter-seg {
  color: rgb(47, 78, 255);
}

.precious {
  color: red;
}

.fin {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 45px;
  font-weight: 400;
}

.product-info {
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  margin-top: 50px; 
  padding-bottom: 0;
}

.product-page {
  display: grid;
  place-items: center;
  width: 250px;
}

.product-img {
  width: 100%;
}

.last-box {
  display: grid;
  place-items: center;
  margin-top: 50px;
  padding-bottom: 15px;
  box-shadow: 0 0 20px rgb(36, 36, 36, 0.7);
}

.brand-pop-end {
  margin-top: 50px;
}

.pop-end {
  position: relative;
  width: 200px;
  padding-top: 20px;
}

.thank-you-box {
  position: absolute;
  margin-bottom: 200px;
}

.thank-you-end {
  font-weight: 600;
  font-size: 35px;
  color: rgb(0, 0, 0);
}

.end-time {
  color: red;
}
