body {
  margin-top: 85px;
  background-color: black;
  height: 100%;
}



.element-one {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;

  place-items: center;
  text-align: center;
  margin: 20px;

  box-shadow: 0 0 20px rgb(36, 36, 36, 0.7);
  background-color: rgb(255, 255, 255);
}



.main-image {
  width: 100%;
}

.tagline{
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: rgb(255, 255, 255);
}

.tagline-author {
  font-weight: 300;
  font-size: 16px;
  color: #ccc;
  line-height: 35px;
}


.main-tagline {
  font-family: 'Josefin Sans', sans-serif;

  position: absolute;
  color: white;
  left: 0;
  width: 500px;
  backdrop-filter: blur(3px);
  padding-left: 30px;
  padding-top: 220px;
  padding-right: 22px;
  padding-bottom: 163px;
  margin-bottom: 0;
  box-shadow: 0 5px 20px rgb(36, 36, 36, 0.7);
}



.element-two {
  display: grid;
  grid-template-columns: 1fr;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;

  margin-left: 300px;
  margin-right: 300px;
  line-height: 23px;

  text-align: center;
  color: rgb(122, 122, 122);
}




.element-three {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  align-items: center;
}

.element-three-one {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: rgb(255, 255, 255);
}




.topic-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  align-items: center;
  justify-content: center;

  margin-right: 250px;
  margin-left: 250px;
  row-gap: 30px;
  column-gap: 30px;


}


.topic-preview {

  height: 270px;
  
  width: 250px;
  display: grid;
  grid-template-rows: 1fr 1fr;

  border-radius: 10px;


  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 12px rgb(255, 0, 0);


}

.topic-img-container {
  display: grid;
  place-items: center;

  padding: 5px
}

.topic-img {
  width: 100%
}

.topic-info {
  margin-top: 0;
  padding-top: 0;
  padding-left: 10px;
  margin-right: 10px;

  place-items: center;
  text-align: center;
}

.topic-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgb(255, 255, 255);

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  line-height: 25px;
}

.topic-brief {

  font-family: 'Josefin Sans', sans-serif;
  font-weight:400;
  font-size: 14px;
  color: rgb(106, 106, 106);

  padding-top: 0;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;

}




.suggestion-container {
  display: grid;
  grid-template-columns: 3fr 1fr;

  font-family: 'Josefin Sans', sans-serif;
  margin-top: 120px;
  box-shadow: 0 0 22px rgb(255, 0, 0);

  
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 15px;

  background-color: rgb(0, 0, 0);
}

.suggestion-1 {
  margin-left: 60px;
}

.suggestion-title {

  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 500;
  margin-left: 30px;
}

  input[type=text], select {

    padding: 13px 60px;
    margin: 8px 0;

    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
   
  }


  input[type=text], label {

    color: rgb(0, 0, 0);
    margin-left: 30px;

  }


  
  label {
    color: rgb(255, 255, 255);

  }
  
  input[type=submit] {

    background-color: red;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;

    margin-left: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }

  ::placeholder {
    color: rgb(216, 216, 216);
  }



  .footer-pop {

    padding-top: 30px;
    padding-left: 120px;
    width: 200px;
    place-items: center;
    align-items: center;
  }
  
  input[type=submit]:hover {
    background-color: #fb5c5c;

  }
  
@media screen and (max-width: 1440px) {

  .element-one {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  
    place-items: center;
    text-align: center;
    margin: 0;
    height: 50vw;
  
    box-shadow: 0 0 20px rgb(36, 36, 36, 0.7);
    background-color: rgb(255, 255, 255);
  }


  .main-image {
    width: auto;
    height: 29vh;
    grid-gap: 0px;
    overflow: hidden;
  }
  
  .main-tagline {
    left: 0;
    width: 35vw;
    padding-left: 2vw;
    padding-top: 22vw;
    padding-right: 22px;
    padding-bottom: 19vw;
    margin-bottom: 0;
  }

  .tagline{
    font-size: 25px;
    line-height: 35px;
  }
  


  .element-two {
    display: grid;
    grid-template-columns: 1fr;
  
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
  
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    line-height: 35px;
  
    text-align: center;
    color: rgb(122, 122, 122);
  }

  .topic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    align-items: center;
    justify-content: center;
  
    margin-right: 250px;
    margin-left: 250px;
    row-gap: 30px;
    column-gap: 30px;
  }
}